.benefits-container {
    width: 100%;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #ebedf0;
    height: 15rem;
}

.benefits{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-top: 4rem;
    width: 70%;

}

.benefits h2{
    font-size: 1.125rem;
    color: #25262a;
    font-weight: 500;
}

.benefits p{
    font-size: 1rem;
    color:#8c92a0;
    width: 17rem;
    margin-top:0.5rem;
}

.benefits i{
    color:rgb(247, 55, 55);
    font-size:2.5rem;
}

.shipping i{
    transform: scaleX(-1);
}


.shipping, .returns, .customer {
    display:flex;
    gap: 1.5rem;

    animation-name: benefits;
    animation-duration : 2s;
    transition: 2s ease-in-out;
    /* transition: animation 1s ease-in-out; */

}

@keyframes benefits {
    from{
        transform: translateY(1rem);
        opacity:0;
    }
    to{
        transfrom: translateY(0rem);
        opacity:1;
    }
}